<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>User Login</title>
    </head>
    <body>
        <h3>Login Page</h3>
        <form method="POST" action="/login">
            <label>Login</label><br>
            <input type="text" name="Login" /><br><br>
            <label>Password</label><br>
            <input type="text" name="Password" /><br><br>
            <label>Login</label><br>
            <input type="submit" value="Send" />
        </form>
    </body>
</html>